@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Password retrieval?";
}

<h1>@ViewData["Title"]</h1>

<div class="mx-5">
    <div class="col-md-6 bg-white rounded shadow-lg">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group mx-5">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Send</button>
        </form>
    </div>
</div>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
