@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Authentication
@model LoginViewModel
@inject SignInManager<AppUser> SignInManager


@{
    ViewData["Title"] = "Đăng nhập";
    Layout = null;
}

<partial name="SBAdmin/_Styles" />

<head>
    <link href="/css/login.css" type="text/css" rel="stylesheet" />

    <script type="text/javascript">
        function myFunction() {
            var x = document.getElementById("pass_log_id");
            var togglePassword =
                document.querySelector('#toggle-password');
            if (x.type === "password") {
                x.type = "text";
                togglePassword.classList.remove('fa-eye');
                togglePassword.classList.add('fa-eye-slash');
            } else {
                x.type = "password";
                togglePassword.classList.remove('fa-eye-slash');
                togglePassword.classList.add('fa-eye');
            }
        }
    </script>
</head>

<body>
    <div class="row">
        <div class="col-md-8">
            <section>
                <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]"
                    method="post" class="form-horizontal" role="form">
                    <div class="login_header">
                        <div class="login_logo">
                            <img class="login_logo-logo" src="/img/logo.svg" alt="AIT Logo">
                            <div class="login_logo-content">
                                <h1 style="font-weight: 600; font-size: 34px; line-height: 51px;">Sign in to</h1>
                                <h2 style="font-size: 24px; font-weight: 400;line-height: 36px;">AIT Company</h2>
                                <h3 style="font-size: 16px; font-weight: 300;line-height: 19,5px; width: 250px;">
                                    AIT Trading and Service Co., Ltd. does business
                                    in the field of providing and distributing information technology products.
                                </h3>

                            </div>
                        </div>
                        <div class="login_form">
                            <div class="login_form-caption">
                                <h2 style="font-size: 21px; font-weight: 400;line-height: 36px; width: 150px;">Welcome
                                    to <span style="color: #0089ED;">AIT</span></h2>
                                <h1 style="font-weight: 600; font-size: 32px; line-height: 51px; width: 120px;">Sign in
                                </h1>

                                <div class="login_form-login margin-top-48">
                                    <div class="form-group  ">
                                        <label asp-for="UserNameOrEmail"
                                            class="col-md-10 control-label margin-bottom"></label>
                                        <div class="col-md-10">
                                            <input asp-for="UserNameOrEmail" class="form-control" style="width: 107%;"
                                                placeholder="Enter your username here" />
                                            <span asp-validation-for="UserNameOrEmail" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-group margin-top">
                                        <label asp-for="Password" class="col-md-10 control-label margin-bottom"></label>
                                        <div class="col-md-10">
                                            <input id="pass_log_id" asp-for="Password" class="form-control "
                                                style="width: 107%;" placeholder="Enter your password here" />
                                            <span id="toggle-password"
                                                class="fa fa-fw fa-eye field_icon toggle-password"
                                                onclick="myFunction()"></span>
                                        </div>
                                    </div>

                                    <div style="height:16px">
                                        <div asp-validation-summary="ModelOnly"
                                            class="text-danger form-group col-md-10"></div>
                                    </div>
                                </div>


                                <div class="rememberMe">
                                    <div class="checkbox">
                                        <label asp-for="RememberMe">
                                            <input asp-for="RememberMe" />
                                            @Html.DisplayNameFor(m => m.RememberMe)
                                        </label>
                                    </div>
                                    <a asp-action="ForgotPassword" class="forgot_password">Forgot Password </a>

                                </div>
                                <div class="login_btn margin-top-80">
                                    <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"] class="
                                        btn_register">Create Account</a>
                                    <button type="submit" class="btn_signin">Sign in</button>
                                </div>

                            </div>
                        </div>

                        <div class="login_right">
                            <img class="login_logo-img-right" src="/img/logo - Copy.svg" alt="AIT Logo">
                        </div>

                    </div>
                    <div class="login_footer">
                        <h2 style="font-size: 16px; font-weight: 300;line-height: 20px; width: max-content;">Copyright ©
                            2021<span style="color: #0089ED;">AIT</span> All rights reserved.</h2>
                        <a class="Terms_Conditions" href="#">Terms & Conditions</a>
                    </div>
                </form>
            </section>
        </div>


</body>

@section Scripts {
@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
