@inject SignInManager<AppUser> SignInManager

@model RegisterViewModel
@{
    ViewData["Title"] = "Đăng ký tài khoản";
    Layout = null;
}

<partial name="SBAdmin/_Styles" />
<head>
    <link href="/css/login.css" type="text/css" rel="stylesheet" />
   
</head>
<body>
    <div class="row">
        <div class="col-md-8">
            <section>   
                <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">

                    <div class="login_header">
                        <div class="login_logo">
                            <img class="login_logo-logo" src="/img/logo.svg" alt="AIT Logo">
                            <div class="login_logo-content">
                                <h1 style="font-weight: 600; font-size: 34px; line-height: 51px;">Register to</h1>
                                <h2 style="font-size: 24px; font-weight: 400;line-height: 36px;">AIT Company</h2>
                                <h3 style="font-size: 16px; font-weight: 300;line-height: 19,5px; width: 250px;">
                                    AIT Trading and Service Co., Ltd. does business
                                    in the field of providing and distributing information technology products.
                                </h3>

                            </div>
                        </div>
                        <div class="login_form" >
                        <div class="login_form-caption" style="margin-top: 5px">
                                <h1 style="font-weight: 600; font-size: 32px; line-height: 51px; width: 120px;">Register   </h1>

                                <div class="login_form-login" style="display: flex; flex-direction: column; margin-top: 16px;"  >
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group margin-bottom16 " style="height: 55px">
                                    <label asp-for="UserName" class="col-md-10 control-label margin-bottom"></label>
                                    <div class="col-md-10">
                                        <input asp-for="UserName" class="form-control" />
                                        <span asp-validation-for="UserName" class="text-danger" style="height: 18px"></span>
                                    </div>
                                </div>
                                <div class="form-group margin-top" style="height: 55px">
                                    <label asp-for="Email" class="col-md-10 control-label margin-bottom"></label>
                                    <div class="col-md-10">
                                        <input asp-for="Email" class="form-control" />
                                        <span asp-validation-for="Email" class="text-danger" style="height: 18px"></span>
                                    </div>
                                </div>
                                <div class="form-group margin-top" style="height: 55px">
                                    <label asp-for="Password" class="col-md-10 control-label margin-bottom"></label>
                                    <div class="col-md-10" style="height: 55px">
                                        <input asp-for="Password" class="form-control" />
                                        <span asp-validation-for="Password" class="text-danger" ></span>
                                    </div>
                                </div>
                                <div class="form-group margin-top" style="height: 55px">
                                    <label asp-for="ConfirmPassword" class="col-md-10 control-label margin-bottom"></label>
                                    <div class="col-md-10">
                                        <input asp-for="ConfirmPassword" class="form-control" />
                                        <span asp-validation-for="ConfirmPassword" class="text-danger" style="height: 18px"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <button type="submit" class="btn_signin" style="width: 100%; margin-top: 32px;" >Sign up</button>
                                    </div>
                                </div>
                            </div>

                                
                            </div>
                        </div>

                        <div class="login_right">
                            <img class="login_logo-img-right" src="/img/logo - Copy.svg" alt="AIT Logo">
                        </div>

                    </div>
                    <div class="login_footer">
                        <h2 style="font-size: 16px; font-weight: 300;line-height: 20px; width: max-content;">Copyright © 2021<span style="color: #0089ED;">AIT</span> All rights reserved.</h2>
                        <a class="Terms_Conditions" href="#">Terms & Conditions</a>
                    </div>
                </form>          
            </section>
        </div>
    </div>
</body>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
