@{
    ViewData["Title"] = "Reset the password";
}

<h1 class="ml-5">@ViewData["Title"].</h1>
<p>
    You have reset password,
    <a asp-controller="Account" asp-action="Login">
        Click here to login
    </a>
</p>
