@model App.Areas.SaleManagement.Models.DetailBill

<link href="/css/detail-profile.css" type="text/css" rel="stylesheet" />

<partial name="SBAdmin/_Styles" />


<div class="mx-5">
    <div class="col-md-6 bg-white rounded shadow-lg">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="information-title mx-5 mt-3">
                    <p>Create</p><hr>
                </div>
                <div class="information-group">
                    <div class="information-group1  col">
                        <div class="form-group mx-5">
                            <label asp-for="ProductId" class="control-label"></label>
                            <select asp-for="ProductId" class ="form-control" asp-items="ViewBag.ProductId"></select>
                        </div>
                        <div class="form-group mx-5">
                            <label asp-for="BillId" class="control-label"></label>
                            <select asp-for="BillId" class ="form-control" asp-items="ViewBag.BillId"></select>
                        </div>
                        <div class="form-group mx-5">
                            <label asp-for="Amount" class="control-label"></label>
                            <input asp-for="Amount" class="form-control" />
                            <span asp-validation-for="Amount" class="text-danger"></span>
                        </div>
                        <div class="form-group mx-5 mt-4 float-right">
                            <input type="submit" value="Create" class="btn btn-primary sm " />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="mx-5 mb-4 content-information mt-5">
    <a asp-action="Index">
        <i class="far fa-arrow-alt-circle-left"></i>
        Back
    </a>
</div>

