<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-action="ShowChart"
        asp-controller="Salary" asp-area="SalaryManagement">
        <div class="sidebar-brand-icon">
            <img src="/img/logo.svg" alt="AIT logo">
        </div>
        <div class="sidebar-brand-text mx-3">AIT Company</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        @* <a class="nav-link" asp-action="Index" asp-controller="Department" asp-area="EmployeeManagement">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a> *@
        <a class="nav-link" asp-action="ShowChart" asp-controller="Salary" asp-area="SalaryManagement">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>

    </li>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" asp-action="Index" asp-controller="DbManage" asp-area="Database">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Database Management</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" asp-action="Index" asp-controller="Role" asp-area="Identity">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Role Management</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" asp-action="Index" asp-controller="User" asp-area="Identity">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>User Management</span></a>
    </li>


    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Employee Management
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
            aria-controls="collapseTwo">
            <i class="fas fa-fw fa-user-cog"></i>
            <span>Human Resources</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-blue-secondary py-2 collapse-inner rounded">
                <h6 class="collapse-header">Human resources</h6>
                <a class="collapse-item" asp-action="Index" asp-controller="Department" asp-area="EmployeeManagement">
                    <i class="fas fa-fw fa-building mr-1"></i>Department</a>
                <a class="collapse-item" asp-action="Index" asp-controller="Skill" asp-area="EmployeeManagement">
                    <i class="fas fa-fw fa-bezier-curve mr-1"></i>Skill</a>
                <a class="collapse-item" asp-action="Index" asp-controller="Level" asp-area="EmployeeManagement">
                    <i class="fas fa-fw fa-level-up-alt mr-1"></i>Level</a>
                <a class="collapse-item" asp-action="Index" asp-controller="Position" asp-area="EmployeeManagement">
                    <i class="fas fa-fw  fa-crosshairs mr-1"></i>Position</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
            aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-user"></i>
            <span>Employee</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-blue-secondary py-2 collapse-inner rounded">
                <h6 class="collapse-header">Employee</h6>
                <a class="collapse-item" asp-action="Index" asp-controller="Employee" asp-area="EmployeeManagement">
                    <i class="fas fa-fw fa-user mr-1"></i>Employee</a>
                <a class="collapse-item" asp-action="Index" asp-controller="Employee_Skill"
                    asp-area="EmployeeManagement">
                    <i class="fas fa-fw fa-walking mr-1"></i>Employee Skill</a>
                <a class="collapse-item" asp-action="Index" asp-controller="Employee_Position"
                    asp-area="EmployeeManagement">
                    <i class="fas fa-fw fa-people-arrows mr-1"></i>Employee Position</a>

            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Salary Management
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo2" aria-expanded="true"
            aria-controls="collapseTwo2">
            <i class="fas fa-fw fa-coins"></i>
            <span>Salary</span>
        </a>
        <div id="collapseTwo2" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-blue-secondary py-2 collapse-inner rounded">
                <h6 class="collapse-header">Salary</h6>
                <a class="collapse-item" asp-action="Index" asp-controller="BasicSalary" asp-area="SalaryManagement">
                    <i class="fas fa-fw fa-file-invoice-dollar mr-1"></i>Basic Salary</a>
                <a class="collapse-item" asp-action="Index" asp-controller="AllowanceSalary"
                    asp-area="SalaryManagement">
                    <i class="fas fa-fw fa-hand-holding-usd mr-1"></i>Allowance Salary</a>
                <a class="collapse-item" asp-action="Index" asp-controller="BonusSalary" asp-area="SalaryManagement">
                    <i class="fas fa-fw fa-plus mr-1"></i>Bonus Salary</a>
                <a class="collapse-item" asp-action="Index" asp-controller="OvertimeSalary" asp-area="SalaryManagement">
                    <i class="fas fa-fw fa-user-clock mr-1"></i>Overtime Salary</a>
                <a class="collapse-item" asp-action="Index" asp-controller="Salary" asp-area="SalaryManagement">
                    <i class="fas fa-fw fa-wallet mr-1"></i>Salary</a>
                <h6 class="collapse-header">Contract</h6>
                <a class="collapse-item" asp-action="Index" asp-controller="ContractType" asp-area="SalaryManagement">
                    <i class="fas fa-fw fa-file-medical mr-1"></i>Contract type</a>
                <a class="collapse-item" asp-action="Index" asp-controller="Contract" asp-area="SalaryManagement">
                    <i class="fas fa-fw fa-file-signature mr-1"></i>Contract</a>
                <h6 class="collapse-header">Chart</h6>
                <a class="collapse-item" asp-action="ShowChart" asp-controller="Salary" asp-area="SalaryManagement">
                    <i class="fas fa-fw fa-coins mr-1"></i>Salary Chart</a>
                <a class="collapse-item" asp-action="ShowChartForEmployee" asp-controller="Salary"
                    asp-area="SalaryManagement">
                    <i class="fas fa-fw fa-money-check-alt mr-1"></i>Employee's Salary Chart</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Sale Management
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo3" aria-expanded="true"
            aria-controls="collapseTwo3">
            <i class="fas fa-fw fa-tags"></i>
            <span>Sale</span>
        </a>
        <div id="collapseTwo3" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-blue-secondary py-2 collapse-inner rounded">
                <h6 class="collapse-header">Sale</h6>
                <a class="collapse-item" asp-action="Index" asp-controller="Customer" asp-area="SaleManagement">
                    <i class="fas fa-fw fa-user-tag mr-1"></i>Customer</a>
                <a class="collapse-item" asp-action="Index" asp-controller="Supplier" asp-area="SaleManagement">
                    <i class="fas fa-fw fa-hands-helping mr-1"></i>Supplier</a>
                <a class="collapse-item" asp-action="Index" asp-controller="ProductType" asp-area="SaleManagement">
                    <i class="fas fa-fw fa-boxes mr-1"></i>Product type</a>
                <a class="collapse-item" asp-action="Index" asp-controller="Product" asp-area="SaleManagement">
                    <i class="fas fa-fw fa-box mr-1"></i>Product</a>
                <a class="collapse-item" asp-action="Index" asp-controller="Price" asp-area="SaleManagement"><i
                        class="fas fa-fw fa-dollar-sign mr-1"></i>Price</a>
                <a class="collapse-item" asp-action="Index" asp-controller="Bill" asp-area="SaleManagement"><i
                        class="fas fa-fw fa-money-bill mr-1"></i>Bill</a>
                <a class="collapse-item" asp-action="Index" asp-controller="DetailBill" asp-area="SaleManagement"><i
                        class="fas fa-fw fa-id-card mr-1"></i>Detail bill</a>
                <h6 class="collapse-header">Revenue statistics</h6>
                <a class="collapse-item" asp-action="ShowTopProduct" asp-controller="Product" asp-area="SaleManagement"><i
                        class="fas fa-fw fa-id-card mr-1"></i>Show top product</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>
<!-- End of Sidebar -->