@model App.Areas.SaleManagement.Models.ProductType

<link href="/css/detail-profile.css" type="text/css" rel="stylesheet" />

<partial name="SBAdmin/_Styles" />


<div class="mx-5">
    <div class="col-md-6 bg-white rounded shadow-lg">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductTypeId" />
             <div class="information-title mx-5"><p>Edit Product Type</p></div>
            <div class="form-group mx-5 float-right mt-n5">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            <hr>
            <div class="information-group row">
                <div class="information-group1">
                    <div class="form-group mx-5">
                        <label asp-for="ProductTypeName" class="control-label"></label>
                        <input asp-for="ProductTypeName" class="form-control" />
                        <span asp-validation-for="ProductTypeName" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="mx-5 mb-4 content-information mt-5">
    <a asp-action="Index">
        <i class="far fa-arrow-alt-circle-left"></i>
        Back
    </a>
</div>

