@model App.Areas.EmployeeManagement.Models.Employee_Position

<link href="/css/detail-profile.css" type="text/css" rel="stylesheet" />

<partial name="SBAdmin/_Styles" />

<div class="mx-5">
    <div class="col-md-6 bg-white rounded shadow-lg">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
             <div class="information-title mx-5 mt-3">
                <p>Create</p>
        
            <hr></div>
            <div class="information-group">
                 <div class="information-group1  col">
                        <div class="form-group mx-5">
                            <label asp-for="EmployeeId" class="control-label"></label>
                            <select asp-for="EmployeeId" class ="form-control" asp-items="ViewBag.EmployeeId"></select>
                        </div>
                    <div class="form-group mx-5">
                        <label asp-for="PositionId" class="control-label"></label>
                        <select asp-for="PositionId" class ="form-control" asp-items="ViewBag.PositionId"></select>
                    </div>
                    <div class="form-group mx-5">
                        <label asp-for="StartTime" class="control-label"></label>
                        <input asp-for="StartTime" class="form-control" />
                        <span asp-validation-for="StartTime" class="text-danger"></span>
                    </div>
                    <div class="form-group mx-5">
                        <label asp-for="EndTime" class="control-label"></label>
                        <input asp-for="EndTime" class="form-control" />
                        <span asp-validation-for="EndTime" class="text-danger"></span>
                    </div>
                    <div class="form-group mx-5 mt-4 float-right">
                        <input type="submit" value="Create" class="btn btn-primary sm " />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="mx-5 mb-4 content-information mt-5">
    <a asp-action="Index">
        <i class="far fa-arrow-alt-circle-left"></i>
        Back
    </a>
</div>

